.Ropes-default {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    border: 1px solid rgb(135, 133, 133);
    padding: 2px 16px;
    margin: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .Ropes-default:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #cursor {
    font-size: 30px;
    color: rgb(135, 133, 133);
  }

  span{
      background-color: rgb(135, 133, 133);
  }


  body, html{
    height: 300px;
    width: 700px;
}
.left-4{
  background-color: lightgray;
  overflow: scroll;
}

.left-4,.right-8{
    border: solid 0.5px rgb(135, 133, 133);
    height: 90vh;
}
.top-right{
    border: solid 0.5px rgb(135, 133, 133);
    height: 13.5vh;
}
/* .middle-right, .middle-3-row{
    border: solid 0.5px rgb(135, 133, 133);
    height: 13.5vh;
} */
.bottom-right{
    border: solid 0.5px rgb(135, 133, 133);
    height: 76.5vh;
}
.bottom-most{
    border: solid 0.5px rgb(135, 133, 133);
    height: 10vh;
}
.bottom-most-left{
    border: solid 0.5px rgb(135, 133, 133);
}
.bottom-most-right{
    border: solid 0.5px rgb(135, 133, 133);
}
#search-note{
  /* margin: 3px; */
  height: 30px;
}
#search_icon{
  /* vertical-align: middle; */
  padding-top: 7px;
  padding-left: 5px;
  color: #4285F4;
}
textarea {
    resize: none;
}
textarea.ta10em {
    height: 76.5vh;
    width: 100vw;
}
.each-icon{
  text-align: center;
}

.active-note {
  color: #4285F4;
  font-size: 1.1em;
  /* font-size: 24px; */
}

.fa-trash-o:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.fa-refresh:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#hide_seek{
  padding-top: 7px;
  font-size: 1.5em;
  padding-left: 5px;
  vertical-align: middle;
  color: #4285F4;
  
}
#hide_seek:hover{

  font-size: 1.7em;
}
#new{
  vertical-align: middle;
}
#New{
  right: 30px;
  position: absolute;
}
#delete-note{
  color: #4285F4;
  font-size: 1.5em;
  vertical-align: middle;
  padding-top: 4px;
}
#delete-note:hover{
  font-size: 1.7em;
}
#restore{
  padding-left: 5px;
  padding-right: 5px;
}
#delete{
  padding-left: 5px;
  padding-right: 5px;

}
#input_feild{
  padding-top: 10px;
}
